@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
  <h1>WIP TwitterCard <small>TwitterCard tag helpers</small></h1>
</div>

  <pre>
    &lt;twitter-summary site=&quot;@@flickr&quot;
      title=&quot;Small Island Developing States Photo Submission&quot;
      description=&quot;View the album on Flickr.&quot;
      image=&quot;https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg&quot;/&gt;</pre>
<p>
  Output:
  <pre>
    &lt;meta card=&quot;summary&quot; name=&quot;twitter:site&quot;&gt;
    &lt;meta content=&quot;@@flickr&quot; name=&quot;twitter:site&quot;&gt;
    &lt;meta content=&quot;Small Island Developing States Photo Submission&quot; name=&quot;twitter:title&quot;&gt;
    &lt;meta content=&quot;View the album on Flickr.&quot; name=&quot;twitter:description&quot;&gt;
    &lt;meta content=&quot;https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg&quot; name=&quot;twitter:image&quot;&gt;</pre>
</p>
<twitter-summary site="@@flickr"
  title="Small Island Developing States Photo Submission"
  description="View the album on Flickr."
  image="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg"/>

<pre>&lt;twitter-summary-large-image site=&quot;@@nytimes&quot;
  creator=&quot;@@SarahMaslinNir&quot;
  title=&quot;Parade of Fans for Houston&CloseCurlyQuote;s Funeral&quot;
  description=&quot;NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.&quot;
  image=&quot;http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg&quot; /&gt;</pre>
<p>
  Output:
  <pre>&lt;meta name=&quot;twitter:card&quot; content=&quot;summary_large_image&quot;&gt;
&lt;meta name=&quot;twitter:site&quot; content=&quot;@@nytimes&quot;&gt;
&lt;meta name=&quot;twitter:creator&quot; content=&quot;@@SarahMaslinNir&quot;&gt;
&lt;meta name=&quot;twitter:title&quot; content=&quot;Parade of Fans for Houston&CloseCurlyQuote;s Funeral&quot;&gt;
&lt;meta name=&quot;twitter:description&quot; content=&quot;NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here.&quot;&gt;
&lt;meta name=&quot;twitter:image&quot; content=&quot;http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg&quot;&gt;</pre>
</p>
<twitter-summary-large-image site="@@nytimes"
  creator="@@SarahMaslinNir"
  title="Parade of Fans for Houston’s Funeral"
  description="NEWARK - The guest list and parade of limousines with celebrities emerging from them seemed more suited to a red carpet event in Hollywood or New York than than a gritty stretch of Sussex Avenue near the former site of the James M. Baxter Terrace public housing project here."
  image="http://graphics8.nytimes.com/images/2012/02/19/us/19whitney-span/19whitney-span-articleLarge.jpg" />
