@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
  <h1>WIP TwitterCard <small>TwitterCard tag helpers</small></h1>
</div>

  <pre>
    &lt;twitter-card type=&quot;summary&quot;
      site=&quot;@@flickr&quot;
      title=&quot;Small Island Developing States Photo Submission&quot;
      description=&quot;View the album on Flickr.&quot;
      image=&quot;https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg&quot;/&gt;</pre>
      <p>
        See source code for output
      </p>
<twitter-card type="summary"
  site="@@flickr"
  title="Small Island Developing States Photo Submission"
  description="View the album on Flickr."
  image="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg"/>
