@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
  <h1>WIP TwitterCard <small>TwitterCard tag helpers</small></h1>
</div>

  <pre>
    &lt;twitter-summary site=&quot;@@flickr&quot;
      title=&quot;Small Island Developing States Photo Submission&quot;
      description=&quot;View the album on Flickr.&quot;
      image=&quot;https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg&quot;/&gt;</pre>
<p>
  Output:
  <pre>
    &lt;meta card=&quot;summary&quot; name=&quot;twitter:site&quot;&gt;
    &lt;meta content=&quot;@@flickr&quot; name=&quot;twitter:site&quot;&gt;
    &lt;meta content=&quot;Small Island Developing States Photo Submission&quot; name=&quot;twitter:title&quot;&gt;
    &lt;meta content=&quot;View the album on Flickr.&quot; name=&quot;twitter:description&quot;&gt;
    &lt;meta content=&quot;https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg&quot; name=&quot;twitter:image&quot;&gt;</pre>
</p>
<twitter-summary site="@@flickr"
  title="Small Island Developing States Photo Submission"
  description="View the album on Flickr."
  image="https://farm6.staticflickr.com/5510/14338202952_93595258ff_z.jpg"/>
