@{
    ViewData["Title"] = "Home Page";
}

<div class="page-header">
  <h1>Twitter Cards <small>tag helpers</small></h1>
</div>
<section>
  <h2>Card Types</h2>
  <ul>
    <li>
      <a asp-controller="Cards" asp-action="Summary">Summary Card</a>: Title, description, thumbnail, and Twitter account attribution.
    </li>
    <li>
      <a asp-controller="Cards" asp-action="SummaryLargeImage">Summary Card with Large Image</a>: Similar to a Summary Card, but with a prominently featured image.
    </li>
    <li>
      <a asp-controller="Cards" asp-action="App">App Card</a>: A Card to detail a mobile app with direct download. <span class="label label-info">WIP</span></a>
    </li>
    <li>
      <a>Player Card</a>: A Card to provide video/audio/media. [TBD]
    </li>
  </ul>
</section>
